
$color-black:#000;
$color-ink:#212B36;
$color-dark:#17171C;
$color-darkest:#454F5B;
$color-body:#637381;
$color-muted:#919EAB;
$color-lighter:#C4CDD5;
$color-from:#DFE3E8;
$color-border:#F4F6F8;
$color-light:#F9FAFB;
$color-white:#fff;


$color-primary:#0043CE;
$color-info:#0288FF;
$color-alert-primary:#E8F3FF;

$color-danger:#DE3618;
$color-alert-danger:#FBEAE5;

$color-success:#50B83C;
$color-alert-success:#E3F1DF;

$color-warning:#DD7D02;
$color-alert-warning:#FFE7D1;

$color-attention:#EEC200;
$color-alert-attention:#FCF1CD;

$color-highlight-indigo:#5551FF;
$color-change-purple:#9C6ADE;

$color-helpful-teal:#00ACC1;


$color-brand-blue:#0D327B;
$color-brand-yellow:#FAAC18;
$color-brand-sky:#448AFF;


$font-weight-bold:700;
$font-weight-bolder:600;
$font-weight-normal:500;
$font-weight-lighter:400;
$font-weight-light:300;

